Here's more details on your favorite restaurant!

<h2><%= @restaurant.name %></h2>
<ul>
  <li><strong>Address: </strong><%= @restaurant.address %></li>
  <li><strong>Phone number: </strong><%= @restaurant.phone_number %></li>
  <li><strong>Category: </strong><%= @restaurant.category %></li>
</ul>

<%= link_to "Back to list", restaurants_path %>
